<ul class="nav flex-column bg-light-blue">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account') }}">Mes comptes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_modify_password') }}">Modifier mon mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
    </li>
</ul>